In [29]:
import os, sys
sys.path.insert(0, os.path.abspath(".."))

import numpy as np
import pandas as pd

from app.data.prepare_agnews import get_data_splits_from_zip_file

In [30]:
raw_data = get_data_splits_from_zip_file("../data/input/raw/agnews.zip")

Reading train.json from ../data/input/raw/agnews.zip...
Reading test.json from ../data/input/raw/agnews.zip...
Reading augment.json from ../data/input/raw/agnews.zip...

In [32]:
df_train_data = pd.DataFrame(raw_data["train"])
df_train_data["description_len"] = df_train_data["description"].apply(lambda r: len(r))

In [37]:
df_train_data[df_train_data["description_len"] == 0].groupby("label").count()[["id"]]

                            id
label
Business                   224
Entertainment                1
Health                       1
Sci/Tech                     5
Software and Developement   32
Sports                       1

In [44]:
np.array(df_train_data[df_train_data["description_len"] == 0].index)

array([  152,   274,   284,   293,   372,   500,   561,   707,   762,
         837,   932,  1206,  1327,  1329,  1347,  1547,  1559,  1608,
        1787,  2067,  2164,  2293,  2405,  2720,  2876,  2906,  2963,
        3161,  3314,  3495,  3610,  3887,  4012,  4123,  4146,  4156,
        4187,  4211,  4393,  4401,  4440,  4559,  4694,  4713,  4900,
        4901,  5011,  5014,  5059,  5078,  5114,  5223,  5243,  5302,
        5358,  5605,  5607,  5770,  5964,  6092,  6132,  6181,  6264,
        6306,  6441,  6448,  6461,  6582,  6756,  6792,  6858,  6889,
        6930,  7055,  7296,  7328,  7343,  7541,  7592,  7609,  7612,
        7776,  8195,  8244,  8268,  8290,  8321,  8447,  8554,  8610,
        8635,  8963,  9026,  9264,  9419,  9575,  9641,  9743,  9780,
        9990, 10319, 10348, 10386, 10469, 10564, 10792, 10919, 10976,
       10993, 11084, 11159, 11249, 11302, 11430, 11560, 11627, 11723,
       11841, 11855, 11858, 11880, 12013, 12016, 12139, 12222, 12433,
       12515, 12657, 12928, 13014, 13039, 13066, 13107, 13277, 13289,
       13337, 13387, 13418, 13445, 13745, 14027, 14101, 14271, 14525,
       14559, 14578, 14596, 14677, 14690, 14729, 14733, 15071, 15149,
       15227, 15758, 15794, 15826, 15974, 15997, 16046, 16047, 16062,
       16285, 16309, 16329, 16467, 16494, 16510, 16577, 16651, 16685,
       16797, 16842, 17128, 17297, 17408, 17460, 17575, 17591, 17592,
       17645, 17769, 17771, 17811, 17888, 18049, 18187, 18289, 18305,
       18351, 18418, 18476, 18542, 18906, 18921, 19053, 19067, 19158,
       19161, 19214, 19301, 19393, 19520, 19589, 19807, 19856, 19873,
       19886, 20108, 20163, 20332, 20334, 20488, 20490, 20583, 20606,
       20658, 20757, 20864, 20909, 20949, 20963, 20966, 21053, 21093,
       21119, 21282, 21289, 21310, 21331, 21362, 21470, 21529, 21564,
       21610, 21638, 21649, 21868, 21952, 21964, 22045, 22097, 22188,
       22402, 22492, 22723, 22733, 22824, 22839, 22977, 23104, 23448,
       23455, 23513, 23617, 23683, 23916, 24090, 24094, 24206, 24524,
       24900, 24951, 24972])

In [40]:
df_test_data = pd.DataFrame(raw_data["test"])
df_test_data["description_len"] = df_test_data["description"].apply(lambda r: len(r))
df_test_data[df_test_data["description_len"] == 0].groupby("label").count()[["id"]]

                            id
label
Business                   422
Entertainment                2
Health                       1
Sci/Tech                    12
Software and Developement   77

In [41]:
df_augment_data = pd.DataFrame(raw_data["augment"])
df_augment_data["description_len"] = df_augment_data["description"].apply(lambda r: len(r))
df_augment_data[df_augment_data["description_len"] == 0].groupby("label").count()[["id"]]

                             id
label
Business                   1285
Entertainment                16
Health                        3
Sci/Tech                     39
Software and Developement   215
Sports                        9